<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/6.5/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="vendor/autoload.php"
         convertErrorsToExceptions="true"
>
    <testsuites>
        <testsuite name="CallbackBundle Test Suite">
            <directory>Tests/</directory>
        </testsuite>
    </testsuites>

    <!-- whitelist is mandatory as of PHPUnit 5.0
        https://github.com/sebastianbergmann/phpunit-documentation/issues/335 -->
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./TwigExtension/</directory>
        </whitelist>
    </filter>
</phpunit>
